scratch/*
root/release/
root/build/
root/target/
root/example/*/build_*
*.tar.gz
*.img
*.elf
*.o
*.DS_Store
# root/example/base-nexs/ (gestito tramite Git Submodule)
# root/example/9front/ (gestito tramite Git Submodule)
# Dipendenze scaricate localmente
dependencies/
9front