set timeout=5
set default=0

menuentry "NEXS-seL4 (x86_64)" {
    echo "Avvio NEXS su seL4 (x86_64)..."
    multiboot2 /boot/sel4_32.elf
    module2 /boot/loader.img
    boot
}

menuentry "Riavvia" { reboot }
menuentry "Spegni"  { halt }
